aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
appnope
asttokens
async-timeout
attrs
beautifulsoup4
blinker
cachetools
certifi
charset-normalizer
click
comm
dataclasses-json
debugpy
decorator
distro
exceptiongroup
executing
frozenlist
gitdb
GitPython
groq
h11
httpcore
httpx
idna
importlib_metadata
ipykernel
ipython
jedi
Jinja2
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
langchain
langchain-community
langchain-core
langchain-groq
langchain-text-splitters
langsmith
markdown-it-py
MarkupSafe
marshmallow
matplotlib-inline
mdurl
multidict
mypy-extensions
narwhals
nest-asyncio
numpy
orjson
packaging
pandas
parso
pexpect
pillow
platformdirs
prompt_toolkit
protobuf
psutil
ptyprocess
pure_eval
pyarrow
pydantic
pydantic-settings
pydantic_core
pydeck
Pygments
python-dateutil
python-dotenv
pytz
PyYAML
pyzmq
referencing
requests
rich
rpds-py
six
smmap
sniffio
soupsieve
SQLAlchemy
stack-data
streamlit
tenacity
toml
tornado
traitlets
typing-inspect
typing_extensions
tzdata
urllib3
watchdog
wcwidth
yarl
zipp
